body {
  font-size: 0;
  background: #333;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  height: 100%;
}
/* Main App */
#decent {
  position: relative;
  white-space: nowrap;
  height: 100vh;
}
#decent button {
  color: #888;
  border: none;
  cursor: pointer;
}
#decent button:focus {
  outline: 0;
}
#decent input {
 border: none;
 padding: 15px;
 background: #333;
 color: #eee;
}
#decent input:focus{
  outline: none;
  border-bottom: 1px solid #a2009d;
}
#decent textarea{
 border: none;
 padding: 15px;
 background: #333;
 color: #eee;
}
#decent textarea:focus{
  outline: none;
  border-bottom: 1px solid #a2009d;
}
#decent a {
  text-decoration: none;
  color: #888;
}
/* Nav Bar */
#nav-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 300px;
  height: 80px;
  background: #222;
  font-size: 12pt;
  color: #FFF;
}
#nav-bar #logo {
  display: inline-block;
  margin: 15px;
  height: 50px;
}
#nav-bar #subs-button {
  height: 100%;
  position: relative;
  top: -34px;
  padding: 27px 15px;
  background: #282828;
}
#nav-bar #subs-button:hover {
  background: #333;
}
#nav-bar #sub-name {
  position: relative;
  top: -22px;
  left: -25px;
  display: inline-block;
  font-size: 18pt;
  font-weight: bold;
  color: #666;
}

/* Side Bar */
#sidebar {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #282828;
  font-size: 12pt;
  color: #aaa;
}
#sidebar #login{
  width: 100%;
  padding: 26px;
  background: #282828;
  border: none;
  color: #aaa;
  font-size: 18pt;
  cursor: pointer;
}
#sidebar #login:hover{
  background: #333;
}
#sidebar #login:focus{
  background: #333;
  outline: none;
}
#sidebar #userbar {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 100%;
  background: #2c2c2c;
  cursor:pointer
}
#sidebar #userbar:hover {
  background: #333;
}
#sidebar #userbar #user {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #888;
  padding: 10px;
  font-size: 12pt;
}
#sidebar #userbar #cents {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #888;
  font-size: 20pt;
}
#sidebar #user-menu {
  position: relative;
  top: -3px;
  background: #222;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
#sidebar #user-menu.open {
  max-height: 800px;
  transition: max-height 0.4s ease-in-out;
}
#sidebar #user-menu li {
  padding: 8px;
  cursor: pointer;
  padding-right: 30px;
  text-align: right;
}
#sidebar #user-menu svg {
  position: relative;
  top: 5px;
  height: 24px;
  margin-left: 15px;
}
#sidebar #user-menu li:hover {
  background: #333;
}
#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Subs Bar */
#subsbar {
  position: absolute;
  top: 80px;
  left: -300px;
  width: 300px;
  background: #282828;
  height: 100vh;
  transition: left 0.3s ease-in-out;
}
#subsbar.open {
  left: 0px;
}
#subsbar #create-sub {
  width: 100%;
  padding: 10px;
  background: #282828;
  font-size: 12pt;
}
#subsbar #create-sub:hover {
  background: #333;
}
#subsbar #create-sub svg {
  position: relative;
  top: 2px;
  margin: 0px 10px;
}
#subsbar #sub-search {
  width: 100%;
  position: relative;

}
#subsbar #sub-search input {
  width: 100%;
}
#subsbar #sub-search svg {
  position: absolute;
  top: 14px;
  right: 15px;
  color: #888;
}
#subsbar #subs-list {
  list-style: none;
  padding-left: 0px;
  font-size: 14pt;
  color: #999;
}
#subsbar #subs-list .sub {
  padding: 5px 20px;
  text-decoration: none;
  cursor: pointer;
}
#subsbar #subs-list .sub:hover {
  background: #333;
}

/* Content Panel */
#content-panel {
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  left: 300px;
  right: 300px;
  bottom: 0px;
  color: #888;
  font-size: 12pt;
}

/* Sub View */
#sub-view {
  padding: 15px;
  height: 100%;
}
#sub-view .thread {
  padding: 10px;
}
#sub-view .thread.odd {
  background: #383838;
}
#sub-view .thread #title {
  font-size: 14pt;
}
#sub-view #create-thread {
  width: 100%;
  padding: 10px;
  background: #282828;
  font-size: 12pt;
}

/* Modals */
.modal-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  transition: opacity 2s ease;
  z-index: 9999;
}
.modal-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-width: 30%;
  width: 600px;

  height: 600px;
  margin: 0px auto;
  background: #444;
  color: #eee;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2); 
  border-radius: 5px;
}
.modal-container .tabs {
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}
.modal-container .tab{
  display: inline-block;
  width: 50%;
  background: #333;
  border-bottom: 1px solid #0e9800;
  padding: 15px 0px;
  text-align: center;
  font-size: 16pt;
}
.modal-container .tab.active {
  border-bottom: none;
  background: #444;
}
#register-form, #login-form, #createsub-form, #createthread-form {
  width: 100%;
  padding: 20px;
}
.modal-container #title {
  font-size: 18pt;
  font-weight: bold;
  color: #888;
  margin: 10px 0px 20px 0px;
}
.modal-container input {
 display: block;
 border: none;
 width: 50%;
 margin: 5px 0px;
 background: #333;
}
.modal-container textarea {
 display: block;
 border: none;
 width: 50%;
 margin: 5px 0px;
 background: #333;
}
#register-form #uname {
  margin-bottom: 20px;
}
.modal-container #submit {
  background: #333;
  border: none;
  color: #eee;
  margin-top: 30px;
  font-size: 14pt;
  padding: 15px 30px;
  cursor: pointer;
}
.modal-container #submit:hover{
  background: #3a3a3a;
}
.modal-container #status {
  width: 50%;
  padding: 5px 14px;
  border-radius: 5px;
}
.modal-container #status.success {
 color: #080;
}
.modal-container #status.error {
 color: #D81818;
 font-size: 14pt;
}

/* Create Sub Modal */
#create-sub-modal .modal-container {
  padding: 15px;
}

/* Create Thread Modal */
#create-thread-modal .modal-container {
  padding: 15px;
}

