body {
  background: #333;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
#nav-bar {
  position: relative;
  width: 100%;
  height: 80px;
  background: #222;
  color: #FFF;
  display: flex;
  align-items: center;
}
#nav-bar #logo {
  margin: 0px 20px;
  height: 80px;
}
#nav-bar #login{

  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100px;
  background: #2c2c2c;
  border: none;
  color: #aaa;
  font-size: 16pt;
  cursor: pointer;
}
#nav-bar #login:hover{
  background: #333;
}
#nav-bar #login:focus{
  background: #333;
  outline: none;
}

.modal-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  transition: opacity 2s ease;
}
.modal-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
  height: 600px;
  margin: 0px auto;
  background: #444;
  color: #eee;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2); 
  border-radius: 5px;
}
.modal-container .tabs {
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}
.modal-container .tab{
  display: inline-block;
  width: 50%;
  background: #333;
  border-bottom: 1px solid #eb3d00;
  padding: 15px 0px;
  text-align: center;
  font-size: 16pt;
}
.modal-container .tab.active {
  border-bottom: none;
  background: #444;
}
#register-form, #login-form {
  width: 100%;
  padding: 20px;
}
.modal-container #title {
  font-size: 18pt;
  font-weight: bold;
  color: #888;
  margin: 10px 0px 20px 0px;
}
.modal-container input {
 display: block;
 border: none;
 width: 50%;
 margin: 5px 0px;
 background: #333;
 color: #eee;
 padding: 15px;
}
input:focus{
  outline: none;
  background: #3a3a3a;
  border-bottom: 1px solid #9d90c6;
}
#register-form #uname {
  margin-bottom: 20px;
}
.modal-container #submit {
  background: #333;
  border: none;
  color: #eee;
  margin-top: 30px;
  font-size: 14pt;
  padding: 15px 30px;
  cursor: pointer;
}
.modal-container #submit:hover{
  background: #3a3a3a;
}
#site-logo {
  display: flex;
  font-size: 2.5rem;
  padding-left: 1rem;
}
.site-logo-front {
  color: #eb3d00;
}
.site-logo-back {
  color: #ff8100;
}