body {
  background: #333;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  height: 100%;
}
/* Main App */
#decent {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  height: 100vh;
}

/* Nav Bar */
#nav-bar {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 400px;
  height: 80px;
  background: #222;
  color: #FFF;
}
#nav-bar #logo {
  margin: 15px;
  height: 50px;
}

/* Side Bar */
#sidebar #login{
  width: 100%;
  padding: 26px;
  background: #2c2c2c;
  border: none;
  color: #aaa;
  font-size: 18pt;
  cursor: pointer;
}
#sidebar #login:hover{
  background: #333;
}
#sidebar #login:focus{
  background: #333;
  outline: none;
}
#sidebar #userbar {
  display: inline-block;
  position: relative;
  right: 0px;
  height: 100%;
  padding-top: 30px;
  background: #333;
  float: right;
}
#sidebar #userbar #username {
  display: inline-block;
  color: #888;
  padding: 10px;
  margin: 5px;
  font-size: 12pt;
}
#sidebar {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #282828;
}

/* Modals */
.modal-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  transition: opacity 2s ease;
}
.modal-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-width: 30%;
  width: 600px;

  height: 600px;
  margin: 0px auto;
  background: #444;
  color: #eee;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2); 
  border-radius: 5px;
}
.modal-container .tabs {
  position: relative;
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}
.modal-container .tab{
  display: inline-block;
  width: 50%;
  background: #333;
  border-bottom: 1px solid #0e9800;
  padding: 15px 0px;
  text-align: center;
  font-size: 16pt;
}
.modal-container .tab.active {
  border-bottom: none;
  background: #444;
}
#register-form, #login-form {
  width: 100%;
  padding: 20px;
}
.modal-container #title {
  font-size: 18pt;
  font-weight: bold;
  color: #888;
  margin: 10px 0px 20px 0px;
}
.modal-container input {
 display: block;
 border: none;
 width: 50%;
 margin: 5px 0px;
 background: #333;
 color: #eee;
 padding: 15px;
}
input:focus{
  outline: none;
  background: #3a3a3a;
  border-bottom: 1px solid #a2009d;
}
#register-form #uname {
  margin-bottom: 20px;
}
.modal-container #submit {
  background: #333;
  border: none;
  color: #eee;
  margin-top: 30px;
  font-size: 14pt;
  padding: 15px 30px;
  cursor: pointer;
}
.modal-container #submit:hover{
  background: #3a3a3a;
}
.modal-container #status {
  width: 50%;
  padding: 5px 14px;
  border-radius: 5px;
}
.modal-container #status.success {
 color: #080;
}
.modal-container #status.error {
 color: #D81818;
}

